@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>Acerca de Nosotros</h2>
<article>
    Somos Tomás Fernandez Murga y Martín Fort. 
    
    <p>
        Este es nuestro proyecto final para la materia Desarrollo de Back-end. 
        Consiste en un MVC programado en C# siguiendo practicas de repositorio, Dto y Mapper.
        El tema que elegimos es una catálogo de tienda para controlar stock de productos{Nombre, Descripcion, Categoria,	Cantidad, Precio}
        
    </p>

</article>